$colorPrincipal: #cd7cf2;
$colorPrincipalActive: #9057aa;
$colorText: #808080;
$colorTextSecondary: #9e9e9e;
$colorBackground: #ececec;
$colorInactiveBorder: #f9cce6;
$roboto: "Roboto", sans-serif;
$colorHighlighted: black;
